.category-pills {
    margin: 0 0;
    display: flex;
    flex-wrap: nowwrap;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0 !important;
}

.category-pills .nav-link {
    border-radius: 20px;
}

.category-pills .nav-item {
    flex: 0 0 auto;
}

.item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

#categoriaSeleccionada {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

.minimal-spacing {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.box-header hr {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

#categoriaSeleccionada {
    padding-top: 10px;
}

.filter-pill {
    border: 1px solid !important;
}